@model List<Models.Script>
@{
}
<!DOCTYPE html>
<head>
    <link href="~/css/OpenScripts.css" rel="stylesheet" />
</head>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form id='search' action='@Url.Action("SearchScriptById","IDE")' method="post">
                    <input type="text" name="scriptID" id="scriptID">
                    <input type="submit" value="Search ScriptID" class="buttonCustom btn-secondary shadow-none"/>
                </form>
                <br />
                <form id='open' action='@Url.Action("ScriptState","IDE")' method="post">
                    <input class="openScriptInput" type="text" name="scriptID2" id="scriptID2">
                    <input type="submit" value="See Script State" class="buttonCustom btn-primary shadow-none" />
                </form>
            </div>
            <div class="col-6">
                <form id='openEditor' action='@Url.Action("EditScript","IDE")' method="post">
                    <input class="" type="text" name="scriptID3" id="scriptID3">
                    <input type="submit" value="Open script in editor" class="buttonCustom btn-primary shadow-none" />
                </form>
                <br />
                <form id='delete' action='@Url.Action("DeleteScript","IDE")' method="post">
                    <input type="text" name="scriptID4" id="scriptID4">
                    <input type="submit" value="Delete Script" class="buttonCustom btn-warning shadow-none" />
                </form>
            </div>
        </div>
    </div>
    <br />
    <table id="table" border="1">
        <tr>
            <th>Script Id</th>
            <th>Script name</th>
            <th>Language</th>
            <th>Language Version</th>
            <th>Script Version</th>
            <th>Date created</th>
            <th>Author</th>
            <th>Last modified</th>
        </tr>
        <tr>
            @foreach (var item in Model) {
            <tr>
                <td>@item._id</td>
                <td>@item.Name</td>
                <td>@item.Language</td>
                <td>@item.LanguageVersion</td>
                <td>@item.ScriptVersion</td>
                <td>@item.DateCreated</td>
                <td>@item.Author</td>
                <td>@item.LastModified</td>
            </tr>
        }
        </table>
        <script>
            var table = document.getElementById('table');
            for (var i = 1; i < table.rows.length; i++) {
                table.rows[i].onclick = function () {
                    //rIndex = this.rowIndex;
                    document.getElementById("scriptID2").value = this.cells[0].innerHTML;
                    document.getElementById("scriptID3").value = this.cells[0].innerHTML;
                    document.getElementById("scriptID4").value = this.cells[0].innerHTML;
                };
            }
        </script>
        @if (ViewBag.Message != null) {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
            </script>
        }
    </body>
</html>