@model Models.Script
@{
}

<!DOCTYPE html>
<head>

</head>
<html>
<body>
    <label>Script Name</label> <input type="text" />
    <br />
    <label>Language</label>  <label>@Model.Language</label>
    <br />
    <label>Version</label> <input type="text" />
    <br />
    <label>Date Created</label> <label>@Model.DateCreated</label>
    <br />
    <label>Author</label> <input type="text" />
    <br />
    <label>Last Modified</label> <label>@Model.LastModified</label>
    <br />
    <input type="text" value="@Model.Code" />
    <br />
    <input type="submit" value="Save Script" class="bg2" onclick=" location.href='@Url.Action("SaveScript", "IDE" )'" />

</body>
</html>
